
@import "../css/reset.scss";
@import "../css/my-list.scss";
@import "../css/footer.scss";
@import "../css/abilities.scss";
@charset "UTF-8";

//header
.Dogtitle {
  position: relative;
  background-image: url("image/Dogtitle.png");
  height: 480px;
  background-size: cover;
  position: fixed;
  .content{
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
  }
}
.my-fade {
  opacity: 0.3;
  transition: all 3s ease-in-out;
  &.in {
    opacity: 1;
  }
}
//header**************

//初出茅廬
h2 {
  color: white;
  text-align: center;
}
h4,
.gray-title {
  color: #727878;
}

h1,
.green-title {
  color: #22a39f;
}

.basic-padding{
    padding-top: 50px;
    padding-bottom: 100px;
}
.bg-yellow{
    background-color: #F3EFE0;
}
.bg-black{
    background-color: #434242;
}

#header {
  padding-top: 50px;
    padding-bottom: 100px;
    scroll-behavior: smooth;
    .avater{
        border: 5px #FFAC0A solid;
    }
}




li.my-nav {
  padding-left: 60px;
}

nav.pull-right.header-nav {
  float: right;
}

.header-nav {
  line-height: 134px;
}

p {
  &.tw {
    font-family: "Noto Sans TC", sans-serif;
  }
}






.nav.hove-bor {
  position: absolute;
  z-index: 1;
  top: -80px;
  opacity: 0.3;
  transition: all 0.2s linear;
  display: none;
}

li.dropdown {
  &:hover nav.hove-bor {
    display: block;
    top: 80px;
    opacity: 1;
  }
  &:visited nav.hove-bor {
    display: none;
    top: -80px;
    opacity: 0.3;
  }
}

/*#header*/
